<h2>DOM Array Methods</h2><br><br><br>
<button class="btn" (click)="displaydata()">Dispaly</button><br><br>
<button class="btn" (click)="double()">Double Money</button><br><br>
<button class="btn" (click)="show()">Show Only Millionaires</button><br><br>
<button class="btn" (click)="sort()">Short by Richest</button><br><br>
<button class="btn" (click)="total()">Calculate entire Wealth</button>
<div class="vl"></div>
<div class="main">
  <span><strong>Person</strong></span>
  <span>Wealth Detail</span>
</div>
<div class="name">
  <div>
    <div *ngFor="let arr of result">
      <p><strong>{{arr.first_name}} {{arr.last_name}}</strong></p>
    </div>
  </div>
  <div>
    <div *ngFor="let res of result">
      <p>{{res.wealth}}</p>
    </div>
  </div>
</div>
<div class="total" *ngIf="display==true">
  <span>Total Wealth</span>
  <span><strong>{{restotal}}</strong></span>
</div>